body{
    text-align: center;
}
#survey-form{
    background-color: skyblue;
    
    width: 900px;
    margin: 0 auto;
}
.row-tab{
    display: block;
    padding-top: 20px;
}
.label-burger{
    display: inline-block;
    width: 40%;
    text-align: right;
}
.input-burger{
    display: inline-block;
     width: 40%;
    text-align: left;
}
.select-input{
    display: inline-block;
    text-align: left;
    width: 40%;
}
.label-select{
    display: inline-block;
    text-align: right;
    width: 40%;
}
.labels-radio{
    display: inline-block;
    text-align: right;
    width: 40%;
}
.input-radio{
     display: inline-block;
    text-align: left;
    width: 40%;
    
}
.checkbox-labels{
     display: inline-block;
    text-align: right;
    width: 40%;
    
}
.checkbox-input{
    display: inline-block;
    text-align: left;
    width: 40%;
    
}